<!-- <nav>
<a routerLink="/property-binding" routerLinkActive="active">Property Binding</a>
 <a routerLink="/style-binding" routerLinkActive="active">Style Binding</a>
  <a routerLink="/event-binding" routerLinkActive="active">Event Binding</a>
  <a routerLink="/class-binding" routerLinkActive="active">Class Binding</a>
  <a routerLink="/twoway-binding" routerLinkActive="active">Twoway Binding</a>
  <a routerLink="/department-list" routerLinkActive="active">Department List</a>
</nav>
<app-pipes></app-pipes> 
<app-emp-list></app-emp-list>-->
<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarToggler">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact us.</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 nav-search-box">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn-nav-search my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>
</div>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>

