<div class= "signup-details">
    <h4>Please Sign Up</h4>
    <div>
      <label>First Name: </label> 
      <input type="text" name="firstname"/>
    </div>
    <div>
      <label>Last Name: </label> 
      <input type="text" name="lastname"/>
    </div>
    <div>
      <label>Email: </label> 
      <input type="text" name="email"/>
    </div>
    <div>
      <label>Current Password: </label> 
      <input type="text" name="currentpassword"/>
    </div>          
    <div>
      <label>Confirm Password: </label> 
      <input type="text" name="confirmpassword"/>
    </div>
    <div>
      <input class="btn btn-primary" type="submit" value="Submit" (click)="signUp()"/>
      <input class="btn btn-secondary" type="button" value="Cancel" (click)="cancel()"/>
    </div>
    <a href="/">Go back</a>
  </div>